.FTC-primary{color: $F-Cprimary;}
.FTC-secondary{color: $F-Csecondary;}
.FTC-tertiary{color: $F-Ctertiary;}
.FTC-quaternary{color: $F-Cquaternary;}
.FTC-quinary{color: $F-Cquinary;}
.FTC-senary{color: $F-Csenary;}
.FTC-septenary{color: $F-Cseptenary;}

.FBC-primary{background-color: $F-Cprimary;}
.FBC-secondary{background-color: $F-Csecondary;}
.FBC-tertiary{background-color: $F-Ctertiary;}
.FBC-quaternary{background-color: $F-Cquaternary;}
.FBC-quinary{background-color: $F-Cquinary;}
.FBC-senary{background-color: $F-Csenary;}
.FBC-septenary{background-color: $F-Cseptenary;}

.F-border{border: $F-border;}
.F-rounded{border-radius: $F-Squinary;}
.F-Sbox{box-shadow: $F-Sbox;}