$F-hrborder : #D9B08C;
$F-border : 1px solid #F7F9FB;
$F-border-2 : 1px solid rgba(44, 53, 49, 1);
$F-border-hover : 1px solid #5D5C61;
$F-Sbox : 0 0 5px 5px #D1E8E2;

//pallet 1
$F-Cprimary : #D1E8E2;
$F-Csecondary : #D9B08C;
$F-Ctertiary : #116466;
$F-Cquaternary : #31708E;
$F-Cquinary : #2C3531;
$F-Csenary : #5085A5;
$F-Cseptenary : #F7F9FB;


//pallet 2
// $F-Cprimary : #687864;
// $F-Csecondary : #31708E;
// $F-Ctertiary : #5085A5;
// $F-Cquaternary : #8FC1E3;
// $F-Cquinary : #F7F9FB;
// $F-Csenary : #b9b9b9;
// $F-Cseptenary : #F7F9FB;

//pallet 3
// $F-Cprimary : #5D5C61;
// $F-Csecondary : #B79683;
// $F-Ctertiary : #7395AE;
// $F-Cquaternary : #557A95;
// $F-Cquinary : #B1A296;
// $F-Csenary : #b9b9b9;
// $F-Cseptenary : #F7F9FB;


//pallet 4
// $F-Cprimary : #177fa4;
// $F-Csecondary : #0A7BBD;
// $F-Ctertiary : #2C3E50;
// $F-Cquaternary : #AAB2B5;
// $F-Cquinary : #526268;
// $F-Csenary : #273B42;
// $F-Cseptenary : #23373E;


