$F-Szeronegative : 8px;
$F-Szeroplusplus : 10px;
$F-Szeroplus : 12px;
$F-Szero : 14px;
$F-Sprimary : 16px;
$F-Ssecondary : 18px;
$F-Stertiary : 20px;
$F-Squaternary : 22px;
$F-Squinary : 24px;
$F-Ssenary : 26px;
$F-Sseptenary : 28px;
$F-Soctonary : 30px;
$F-Snonary : 32px;
$F-Sdenary : 34px;